<img src="{{unbound session.url}}/assets/imgs/choose_package.png" class="choose_package">
<table class="pricing">
	<thead>
		<tr>
			<th class="package">Basic</th>
			<th class="package">Pro</th>
			<th class="package">Enterprise</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td class="price">
				$19/month
			</td>
			<td class="price">
				$49/month
			</td>
			<td class="price">
				$99/month
			</td>
		</tr>
		<tr>
			<td class="conversations">75 conversations</td>
			<td class="conversations">250 conversations</td>
			<td class="conversations">750 conversations</td>
		</tr>
		<tr class="cents">
			<td>about 25 cents<br>per engagement</td>
			<td>about 20 cents<br>per engagement</td>
			<td>about 13 cents<br>per engagement</td>
		</tr>
		<tr>
			<td><a target="_blank" href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=GAN283WMZSTDU&custom={{unbound session.chatbox.id}}&on0=Package&os0=Basic" class="button">Activate</a></td>
			<td><a target="_blank" href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=GAN283WMZSTDU&custom={{unbound session.chatbox.id}}&on0=Package&os0=Pro" class="button">Activate</a></td>
			<td><a target="_blank" href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=GAN283WMZSTDU&custom={{unbound session.chatbox.id}}&on0=Package&os0=Enterprise" class="button">Activate</a></td>
		</tr>
	</tbody>
</table>