body.lcs-fixed {
	overflow: hidden;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

#lcs, .tipsy {
	font-family: Helvetica Neue, Helvetica, Sans Serif;
	
	input, textarea {
		font-family: Helvetica Neue, Helvetica, Sans Serif;
	}
}