#lcs, .tipsy {
	font-family: 'Open Sans', Helvetica Neue, Helvetica, Sans Serif;
	
	input, textarea {
		font-family: 'Open Sans', Helvetica Neue, Helvetica, Sans Serif;
	}
}

#lcs .chatbox {
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}