#lcs {
	.panes {
		.pane {
			.activate {
				max-width: 450px;

				.hint {
					color: #aaa;
					font-size: 13px;
					line-height: 19px;
					margin-top: 7px;
					float: right;
					font-weight: normal;
			
					a {
						text-decoration: underline;
					}
				}
		
				.red {
					color: #CD1F00;
					font-weight: bold;
				}
				
				.buy_now {
					margin-top: 20px;
					background: #00AA1B;
				}
				
				.testimonial {
					background: #ddd;
					color: #333;
					padding: 10px;
					border-radius: 4px;
					font-size: 14px;
					line-height: 20px;
					margin-bottom: 15px;
				}
			}
			
			p, li {
				margin-bottom: 20px 0;
			}
	
			.risk_list {
				margin: -20px 0 20px 35px;
				list-style: disc;
		
				li {
					margin-bottom: 7px;
				}
			}
	
			.choose_package {
				margin-top: 10px;
				margin-left: 80px;
				margin-bottom: -30px;
				width: 170px;
			}
	
			.pricing {
				border-collapse: collapse;
				text-align: center;
				width: 100%;
				margin: 40px auto 40px;
				border: 1px solid #bbb;
		
				td, th {
					border-left: 1px solid #ddd;
					border-right: 1px solid #ddd;
					padding: 12px;
				}
		
				.package {
					padding: 12px 12px 0px;
					font-size: 15px;
					line-height: 15px;
					color: #106D99;
				}
		
				.price {
					font-weight: bold;
					font-size: 21px;
					line-height: 30px;
					padding: 12px 12px 8px;
				}
				
				.cents {
					color: #aaa;
					font-size: 12px;
					line-height: 17px;
				}
		
				.conversations {
					font-size: 13px;
					line-height: 19px;
					padding: 0px 12px 12px;
				}
			}
		}
	}
}