#lcs {
	.canned_hash {
		position: absolute;
		margin: 7px 0 0 8px;
		color: #bbb;
		font-weight: normal;
	}
	
	.has_canned_hash {
		padding-left: 28px;
	}
	
	.delete_row {
		color: $red;
		font-size: 28px;
		line-height: 28px;
		
		&:hover {
			color: #B2260D;
		}
	}
}