#lcs {
	.close {
		position: fixed;
		top: 0;
		right: 0;
		padding: 5px 15px;
		color: #aaa;
		font-size: 40px;
		line-height: 40px;
		display: block;
		z-index: 99998;
		
		&:hover {
			color: #777;
		}
	}
	
	.canned_hash {
		position: absolute;
		margin: 7px 0 0 8px;
		color: #bbb;
		font-weight: normal;
	}
	
	.has_canned_hash {
		padding-left: 28px;
	}
	
	.panes .pane {
		a.delete_row {
			color: #bbb;
			font-size: 28px;
			line-height: 28px;
		
			&:hover {
				color: $red;
			}
		}
	}
}