.jGrowl-notification, .jGrowl-closer {
	background: $green;
	border-color: #fff;
  opacity: 1.0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(100);
  filter: progid:DXImageTransform.Microsoft.Alpha(100);
	color: #fff;
	font-size: 15px;
	line-height: 22px;
	font-weight: normal;
	
	.jGrowl-close {
		margin: 0;
		padding: 0px;
		font-size: 15px;
		line-height: 15px;
	}
}

.jGrowl-closer {
	font-size: 13px;
	line-height: 19px;
}