#lcs {
	.leftbar {
		z-index: 99998;
		background: red;
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		width: $leftbar_width;
		background: #fff;
		border-right: 1px solid #ccc;
		overflow-y: auto;
		overflow-x: hidden;
		-webkit-overflow-scrolling: touch;
		
		a {
			display: block;
			text-decoration: none;
			font-size: 12px;
			text-align: center;
			cursor: pointer;
			color: #aaa;
			padding: 19px 0px;
			border-top: 1px solid transparent;
			border-bottom: 1px solid transparent;
			
			&.active {
				background: #eee;
				color: #333;
				border-color: #ccc;
			}
			
			i {
				display: block;
				font-size: 45px;
				line-height: 45px;
				padding-bottom: 6px;
			}
		}
	}
}