#lcs {
	.loading {
		position: fixed;
		background-color: #eee;
		background-color: rgba(255, 255, 255, 0.75);
		background-position: center;
		background-repeat: no-repeat;
		z-index: 99999999;
	
		&.application_loading {
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
		}
		
		&.contacts_loading {
			top: $topbar_height;
			right: 0;
			bottom: 0;
			left: $leftbar_width + $contacts_width;
		}
		
		&.admin_loading {
			top: $topbar_height;
			right: 0;
			bottom: 0;
			left: $leftbar_width;
		}
		
		&.admin_settings_loading {
			top: $topbar_height + $tabs_nav_height + 15;
			right: 0;
			bottom: 0;
			left: $leftbar_width;
		}
	}
}