#lcs {
	.panes {
		position: fixed;
		background: #fff;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;

		.pane {
			position: fixed;
			top: 0;
			left: $leftbar_width;
			right: 0;
			bottom: 0;
			background: #fff;
			overflow-y: auto;
			overflow-x: hidden;
			-webkit-overflow-scrolling: touch;
			padding: 40px;
			
			h2 {
				font-weight: bold;
				margin-bottom: 10px;
				font-size: 32px;
				line-height: 40px;
				color: #111;
			}
			
			p {
				margin-bottom: 40px;
			}
			
			a {
				color: #005D78;
				font-weight: bold;
			}
			
			a.button {
				color: #fff;
			}
		}
	}
}