// ADMIN
$leftbar_width: 110px;
$topbar_height: 50px;

$tabs_nav_height: 77px;

$visitors_width: 310px;
$search_height: 44px;
$profile_header_height: 141px;

$selection_background: #D1F3FF;
$selection_colour: #315A7A;

$green: #447B4F;
$blue: #2D6C97;
$red: #8F200C;
$dark_blue: #204C6A;

// CHATBOX
$chatbox_width: 400px;