// ADMIN
$leftbar_width: 110px;
$topbar_height: 50px;

$tabs_nav_height: 77px;

$visitors_width: 310px;
$search_height: 44px;
$profile_header_height: 141px;

$selection_background: #D1F3FF;
$selection_colour: #315A7A;

$primary: #e84b3c;

$green: #4F8F5C;
$blue: #2D6C97;
$red: #8F200C;
$dark_blue: #204C6A;
$gray: #AFB0B4;

// CHATBOX
$chatbox_width: 400px;
$agent_img_height: 80px;

$tablet_width: 1100px;