<div class="pane">
	
	<h2>{{name}}</h2>
	
	<p>
		{{#link-to session.back}}
			&larr; Go Back
		{{/link-to}}
	</p>
	
	<p>
		The video below may take a few seconds to load.
	</p>
	
	<iframe width="640" height="360" {{bind-attr src=url}} frameborder="0" allowfullscreen></iframe>

</div>