#lcs {
	.chatbox {
		position: fixed;
		top: 50px;
		right: 0;
		bottom: 0;
		width: $chatbox_width;
		background: #EDEFF5;
		z-index: 99995;
		border-left: 1px solid #ccc;
	  -webkit-animation-duration: 500ms;
		animation-duration: 500ms;
		
		.topbar {
			right: 0;
			left: auto;
			width: $chatbox_width;
		}
		
		.header {
			height: $agent_img_height;
			background: #fff;
			border-bottom: 1px solid #ccc;
			color: #585B5B;
			
			.profile {
				img {
					float: left;
					height: $agent_img_height; 
					border-right: 1px solid #ccc;
				}
				
				.served_by_description {
					font-size: 15px;
					line-height: 15px;
					float: left;
					margin-top: 20px;
					margin-left: 17px;
					color: #919797;
					width: auto;
					
					.agent_name {
						font-weight: bold;
						color: #363838;
						display: block;
						font-size: 22px;
						line-height: 22px;
						margin-top: 5px;
					}
				}
			}
		}
		
		.messages {
			position: fixed;
			top: 50px + $agent_img_height;
			right: 0px;
			width: $chatbox_width;
			bottom: 100px;
			overflow-y: auto;
			overflow-x: hidden;
			-webkit-overflow-scrolling: touch;
			padding: 0px 10px;
			z-index: 99995;
			
			.overlay {
				display: none;
				background: rgba(0, 0, 0, 0.3);
				position: fixed;
				top: 110px;
				right: 0px;
				bottom: 110px;
				width: $chatbox_width - 1;
				z-index: 99996;
			}
		}
		
		.introducer {
			position: fixed;
			bottom: 0px;
			right: 0;
			width: $chatbox_width - 1;
			padding: 10px;
			background: #EDEFF5;
			z-index: 99997;
			text-align: center;
		
			.please_introduce {
				margin-top: -115px;
				margin-bottom: 50px;
				margin-left: 12%;
				font-size: 16px;
				line-height: 22px;
				color: #333;
				background: #fff;
				border: 1px solid #aaa;
				border-radius: 5px;
				padding: 10px 15px;
				width: 76%;
				text-align: center;
			
				.agent_name {
					font-weight: bold;
				}
			}
		}
		
		.new_message {
			position: fixed;
			bottom: 0px;
			right: 0px;
			width: $chatbox_width - 1;
			height: 100px;
			padding: 10px;
			background: #EDEFF5;
			z-index: 99996;
			
			&.is_disabled {
				.action_row {
					button {
						background: $gray;
					}
				}
			}
			
			textarea {
				font-family: Helvetica Neue, Helvetica, Sans Serif;
				border: 0;
				padding: 7px 7px 50px;
				color: #333;
				border: 1px solid #ccc;
				border-radius: 5px;
				resize: none;
				outline: none;
				font-size: 15px;
				line-height: 22px;
				height: 82px;
				width: 100%;
			}
			
			.action_row {
				position: relative;
				padding: 3px;
				
				button {
					position: absolute;
					background: $green;
					border-radius: 3px;
					width: auto;
					right: 5px;
					bottom: 14px;
					padding: 8px 14px;
					font-size: 14px;
				}
				
				.upload_icon {
					display: none;
					position: absolute;
					left: 9px;
					bottom: 12px;
					color: #AFB0B4;
				}
			}
		}
	}
}

@media screen and (max-width: 480px) {
	#lcs {
		.chatbox {
			border-left: 0;
			width: auto;
			left: 0;
			
			.messages, .new_message, .profile, .introducer, .messages .overlay, .topbar {
				width: auto;
				left: 0;
			}
		}
	}
}

@media screen and (max-width: $tablet_width) {
	#lcs {
		.chatbox {
			.new_message {
				textarea {
					font-size: 16px;
					line-height: 22px;
				}
				
				.action_row {
					button {
						right: 4px;
						bottom: 15px;
						padding: 10px 15px;
						font-size: 16px;
					}
				}
			}
		}
	}
}