$header_height: 123px;
$header_border_width: 7px;

#lcs {
	.chatbox {
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		width: $chatbox_width;
		background: $chatbox_background;
		z-index: 99995;
	  -webkit-animation-duration: 500ms;
		animation-duration: 500ms;
		
		.header {
			background-position: center center;
			border-bottom: $header_border_width solid $dark_gray;
			padding: 20px 20px 20px 30px;
			height: $header_height + $header_border_width;
			
			.rectangle {
				background: rgba(0, 0, 0, 0.4);
				width: 73px;
				height: $header_height;
				position: absolute;
				top: 0px;
				left: 0px;
			}
			
			.close {
				position: absolute;
				top: 0;
				right: 0;
				padding: 5px 15px;
				color: rgba(255, 255, 255, 0.5);
				font-size: 40px;
				line-height: 40px;
				display: block;
				
				&:hover {
					color: #fff;
				}
			}
			
			.profile {
				.avatar_wrapper {
					position: absolute;
					padding: 8px;
					background: rgba(255, 255, 255, 0.1);
					border-radius: 60px;
					
					img {
						float: left;
						height: $agent_img_height; 
						border-right: 1px solid #ccc;
						border: 4px solid #fff;
						border-radius: 50px;
					}
				}
				
				.served_by_description {
					position: absolute;
					margin-left: 110px;
					margin-top: 3px;
					width: auto;
					
					.talking_to {
						color: #ddd;
						color: rgba(255, 255, 255, 0.7);
						font-size: 14px;
						line-height: 14px;
						margin: 0 0 5px 0;
					}
					
					.agent_name {
						font-weight: bold;
						color: #fff;
						display: block;
						font-size: 25px;
						line-height: 25px;
						margin: 0 0 5px 0;
					}
				}
				
				.meta {
					list-style: none;
					margin-left: -7px;
					
					li {
						display: inline;

						a {
							display: inline-block;
							color: #ddd;
							color: rgba(255, 255, 255, 0.7);
							font-size: 25px;
							line-height: 25px;
							padding: 7px;
							
							&:hover {
								color: #fff;
							}
							
							.ion-ios-locked-outline {
								font-size: 20px;
								line-height: 20px;
							}
							
							.ion-ios-email-outline {
								font-size: 24px;
								line-height: 24px;
							}
						}
						
						.is_online {
							font-size: 9px;
							color: #81F0A2;
							width: auto;
							text-transform: uppercase;
							margin: 0;
							position: absolute;
							padding-top: 10px;
							margin-left: 10px;
							display: inline-block;
						}
					}
				}
			}
			
			.fader {
				background: -moz-linear-gradient(top,  rgba(237,239,245,1) 0%, rgba(237,239,245,1) 13%, rgba(237,239,245,0) 78%, rgba(237,239,245,0) 100%); /* FF3.6+ */
				background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(237,239,245,1)), color-stop(13%,rgba(237,239,245,1)), color-stop(78%,rgba(237,239,245,0)), color-stop(100%,rgba(237,239,245,0))); /* Chrome,Safari4+ */
				background: -webkit-linear-gradient(top,  rgba(237,239,245,1) 0%,rgba(237,239,245,1) 13%,rgba(237,239,245,0) 78%,rgba(237,239,245,0) 100%); /* Chrome10+,Safari5.1+ */
				background: -o-linear-gradient(top,  rgba(237,239,245,1) 0%,rgba(237,239,245,1) 13%,rgba(237,239,245,0) 78%,rgba(237,239,245,0) 100%); /* Opera 11.10+ */
				background: -ms-linear-gradient(top,  rgba(237,239,245,1) 0%,rgba(237,239,245,1) 13%,rgba(237,239,245,0) 78%,rgba(237,239,245,0) 100%); /* IE10+ */
				background: linear-gradient(to bottom,  rgba(237,239,245,1) 0%,rgba(237,239,245,1) 13%,rgba(237,239,245,0) 78%,rgba(237,239,245,0) 100%); /* W3C */
				//filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#edeff5', endColorstr='#00edeff5',GradientType=0 ); /* IE6-9 */
				position: absolute;
				right: 0;
				top: $header_height + $header_border_width;
				height: 70px;
				width: $chatbox_width;
				z-index: 99996;
			}
		}
		
		.messages {
			position: fixed;
			top: $header_height + $header_border_width;
			right: 0px;
			width: $chatbox_width;
			bottom: 85px;
			overflow-y: auto;
			overflow-x: hidden;
			-webkit-overflow-scrolling: touch;
			padding: 40px 10px 10px;
			z-index: 99995;
			
			.overlay {
				display: none;
				background: rgba(0, 0, 0, 0.3);
				position: fixed;
				top: 110px;
				right: 0px;
				bottom: 110px;
				width: $chatbox_width;
				z-index: 99996;
			}
		}
		
		.introducer {
			position: fixed;
			bottom: 0px;
			right: 0;
			width: $chatbox_width;
			padding: 10px;
			z-index: 99997;
			text-align: center;
		
			.please_introduce {
				margin-top: -115px;
				margin-bottom: 50px;
				margin-left: 12%;
				font-size: 16px;
				line-height: 22px;
				color: #333;
				background: #fff;
				border: 1px solid #aaa;
				border-radius: 5px;
				padding: 10px 15px;
				width: 76%;
				text-align: center;
			
				.agent_name {
					font-weight: bold;
				}
			}
		}
		
		.new_message {			
			&.is_disabled {
				.action_row {
					button {
						color: $gray;
						border-color: #ccc;
						background: #fff;
					}
				}
			}
			
			textarea {
				font-family: Helvetica Neue, Helvetica, Sans Serif;
				padding: 7px 7px 50px;
				color: #333;
				border: 0;
				border-radius: 0;
				box-shadow: inset 0 0 0 #fff;
				border-top: 7px solid #ccc;
				resize: none;
				outline: none;
				font-size: 15px;
				line-height: 22px;
				height: 85px;
				position: fixed;
				bottom: 0px;
				right: 0px;
				padding-bottom: 48px;
				width: $chatbox_width;
				background: #fff;
				z-index: 99996;
			}
			
			button {
				position: fixed;
				background: $green;
				color: #fff;
				border: 1px solid $green;
				border-radius: 5px;
				width: auto;
				right: 5px;
				bottom: 5px;
				padding: 6px 11px 5px;
				font-size: 14px;
				z-index: 99997;
			}
			
			.upload_icon {
				display: none;
				position: absolute;
				left: 9px;
				bottom: 12px;
				color: #AFB0B4;
			}
		}
	}
}

@media screen and (max-width: 480px) {
	#lcs {
		.chatbox {
			border-left: 0;
			width: auto;
			left: 0;
			
			.messages, .new_message, .profile, .introducer, .messages .overlay {
				width: auto;
				left: 0;
			}
		}
	}
}

@media screen and (max-width: $tablet_width) {
	#lcs {
		.chatbox {
			.new_message {
				textarea {
					font-size: 16px;
					line-height: 22px;
				}
				
				.action_row {
					button {
						right: 4px;
						bottom: 15px;
						padding: 6px 11px;
						font-size: 15px;
					}
				}
			}
		}
	}
}