#lcs {
	.introducer {
		.fields {
			.field {
				position: relative;
				margin-bottom: 7px;
			
				.field_error {
					position: absolute;
					color: #8B000B;
					bottom: 3px;
					right: 5px;
					font-size: 10px;
					line-height: 13px;
				}
			
				.moving_label {
					display: none;
					position: absolute;
					color: #aaa;
					right: 5px;
					margin-top: 6px;
					margin-bottom: 0;
					font-size: 10px;
					line-height: 10px;
				}
			}
		}
		
		.or {
			text-align: center;
			font-size: 14px;
			line-height: 14px;
			text-transform: uppercase;
			color: #aaa;
			padding: 10px;
			margin: 0 0 0 0;
		}
	}
}