#lcs {
	.prompter {
		position: fixed;
		bottom: 8px;
		right: 12px;
		z-index: 99990;
		
		&:hover {
			.agent_avatar {
				img {
					border: 1px solid #888;	
				}
			}
		}
		
		.agent_avatar {
			cursor: pointer;
			float: right;
			
			.unread_messages_count {
				display: inline-block;
				background: #D12819;
				border: 1px solid #9A271C;
				color: #fff;
				border-radius: 50px;
				position: absolute;
			  -webkit-animation-duration: 1.7s;
				animation-duration: 1.7s;
				padding: 3px 6px;
				font-size: 11px;
				margin-left: 40px;
				margin-top: -2px;
			}
			
			img {
				width: 60px;
				height: 60px;
				border-radius: 35px;
				border: 1px solid #aaa;
				
				&.agent_cta {
					border-color: $primary;
				}
			}
		}
		
		.ember-view {
			display: inline-block;
		}
		
		.bubble {
			cursor: pointer;
			float: left;
			background: #f7f7f7;
			border: 1px solid #ccc;
			border-radius: 5px;
			color: #333;
		  -webkit-animation-duration: 500ms;
			animation-duration: 500ms;
			font-size: 13px;
			line-height: 17px;
			padding: 8px 10px;
			margin-right: 14px;
			margin-top: 7px;
			max-width: 225px;
			width: auto;
			
			
			&::before {
				bottom: 14px;
				right: -8px;
				border-width: 6px 0 6px 8px;
				border-color: transparent #ccc;
				display: block;
				width: 0;
				border-style: solid;
				content: "";
				position: fixed;
			}
			
			&::after {
				bottom: 15px;
				right: -7px;
				border-width: 5px 0 5px 7px;
				border-color: transparent #f7f7f7;
				display: block;
				width: 0px;
				border-style: solid;
				content: "";
				position: fixed;
			}
			
			&:hover {
				background: #f1f1f1;
				border-color: #bbb;
				color: #222;
				
				&::before {
					border-color: transparent #bbb;
				}
				
				&::after {
					border-color: transparent #f1f1f1;
				}
			}
		}
	}
}

@media screen and (max-width: $tablet_width) {
	#lcs {
		.prompter {
			.agent_avatar {
				img {
					width: 70px;
					height: 70px;
				}
				
				.unread_messages_count {
					padding: 3px 7px;
					font-size: 12px;
					margin-left: 44px;
					margin-top: -4px;
				}
			}
			
			.bubble {
				font-size: 15px;
				line-height: 21px;
				padding: 8px 10px;
				margin-right: 14px;
				margin-top: 7px;
				width: 275px;
			}
		}
	}
}