<div class="header">
	<div class="profile">
		<img src="/imgs/avatar.jpg" {{bind-attr hsrc=agent.avatar}}>
		<p class="served_by_description">
			You're talking to
			<span class="agent_name">{{ session.visitor.details.name }}</span>
		</p>
		<div class="clear"></div>
	</div>
</div>