<div>
	{{render 'chatbox/header'}}
	
	<div class="messages">
		{{#each session.visitor.messages itemView="chatbox/message"}}
			<div {{bind-attr class=":message from_agent:from_agent"}}>
				<div class="body">
					{{ body }}
				</div>

				<div class="clear"></div>
			</div>
		{{/each}}
		
		{{#if session.visitor.agent_typing}}
			<div class="message from_agent">
				<div class="body">
					Agent is typing...
				</div>
		
				<div class="clear"></div>
			</div>
		{{/if}}
		
		<div class="overlay"></div>
	</div>

	{{new-message visitor=session.visitor agent=session.visitor.agent chatbox=session.chatbox readonly=false}}
</div>