<div>
	<form class="introducer form" {{action submit="visitorRegisterViaEmail"}}>
		<p class="please_introduce">
			To start talking with <span class="agent_name">Dallas</span>,<br>please introduce yourself.
		</p>

		<a class="button fb_blue" {{action click="visitorRegisterViaFacebook"}}>
			Introduce Myself through Facebook
		</a>

		<p class="or">or</p>

		<div class="fields">
			{{render "introducers" "/chatbox/introducer"}}
		</div>

		<button type="submit">
			Introduce Myself
		</button>
	</form>

	<form class="new_message">
		<textarea placeholder="What's on your mind?"></textarea>
		<div class="action_row">
			<button type="submit">Send</button>
			<p class="upload_icon"></p>
			<div class="clear"></div>
		</div>
	</form>
</div>