<div class="pane">
	<div class="activate">
		<p><span class="red">You are using the free version of Lively which has a limit of 2 conversations per day.</span> To lift this limit <em>and access all of your website's untapped potential</em>, you'll need an annual or monthly plan.</p>
		<div class="plan selected">
			<p class="plan_header">Our Annual Plan</p>
			<div class="align_center">
				<img src="/imgs/price.jpg">
			</div>
			<p class="description">With the risk-free annual package, your website's visitors will be astounded with your quick, always-live responses.</p>
			
			<a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=BH9QXAHRFWA2Y" class="button buy_now" target="_blank">
				Click to Activate Your Lively!
			</a>
		</div>
		<p class="hint">
			We also offer a <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=GAN283WMZSTDU" target="_blank">$25 month-to-month plan</a>.
		</p>
		<div class="clear"></div>
		
		<p>
			<strong>100% Money-Back Guarantee</strong><br>
			You have enough risks to consider &mdash; Lively should not be one of them! We've eliminated <em>all</em> the risks by offering:
		</p>
		
		<ul class="risk_list">
			<li>30-second installation</li>
			<li>No-time-limit free trial</li>
			<li>Unlimited-features trial</li>
		</ul>
		
		<p>To top it off, we have a rock solid guarantee: <strong>If Lively doesn't boost your business' bottom line in your 1st month, we'll give you a 100% refund &mdash; no questions asked!</strong>
		</p>
		
		<p style="margin-bottom: 15px; ">
			Here's what some of our valued customers are saying:
		</p>
		
		<p class="testimonial">
			Very powerful free chat plugin for WP... I had some issues about css and the author (Dallas) was very helpful and answered quickly! Thanks again :-)
		</p>
		
		<p class="testimonial">
			A great free solution with some useful premium options. Highly recommended!
		</p>
		
		<p class="testimonial">
			I have used this plugin in several websites and it never disappoints.
		</p>
		
		<p class="testimonial">
			Really simple setup and use! Just awesome! Thank you Dallas!
		</p>
		
		<p class="testimonial" style="margin-bottom: 40px; ">
			Thanks for the plug in, out of the alternatives this has everything needed and is just after a couple of clicks ready to run.
		</p>
		
		<p>
			We'd love to welcome you to the Lively Chat Support family! <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=BH9QXAHRFWA2Y" class="red" target="_blank">Click here to start your annual plan.</a>
		</p>
	</div>
</div>