<div class="pane">
	<div class="activate">
		<p><span class="red">You could be missing out on potential leads &mdash; the free version has a limit of 2 conversations per day.</span> When your chatbox hits this limit, <strong>it will remain hidden until the next day.</strong></p>
		
		<p>TESTIMONIAL: Life after upgrading - live chat has transformed my business!</p>
		
		<p>To lift this limit and access all of your website's untapped potential, you'll need to activate your chatbox with one of the monthly packages below:</p>
		<!-- <div class="plan selected">
			<p class="plan_header">Our Annual Plan</p>
			<div class="align_center">
				<img src="{{!unbound session.url}}/assets/imgs/price.png">
			</div>
			<p class="description">With the risk-free annual package, your website's contacts will be astounded with your quick, always-live responses.</p>

			<a {{!bind-attr href=session.chatbox.paypal_annually}} class="button buy_now" target="_blank">
				Click to Activate Your Chatbox!
			</a>
		</div>
		<p class="hint">
			We also offer a <a {{!bind-attr href=session.chatbox.paypal_monthly}} target="_blank">$19 month-to-month plan</a>.
		</p> -->
			
		{{render 'admin/activate/pricing'}}
			
		<p class="hint" style="margin-top: -25px; ">
			A conversation is when an agent and visitor reply to each other.
		</p>
		
		<p class="clear">
			<strong>All packages include:</strong>
		</p>
		
		<ul class="risk_list">
			<li>Unlimited Agents</li>
			<li>Unlimited Triggers (smooth Call-To-Actions start conversations automatically)</li>
			<li>Unlimited Canned Messages (respond quickly with prebuilt messages)</li>
			<li>Flexible Introducer Fields (choose what information you want to collect from your visitors &mdash; phone, email, address, etc)</li>
		</ul>
		
		<div class="clear"></div>
		
		<p>
			<strong>Am I locked in to a long-term contract?</strong><br>
			<em>No!</em> You can cancel your monthly plan at any time through your Paypal account, or just email dallas@excitecreative.ca to cancel.
		</p>
		
		<p>
			<strong>Why do I need to choose a plan?</strong><br>
			<em>The truth is: you don't.</em> You could stay limited to the free plan (2 conversations per day) forever, but you'll be losing out on loads of business. Our paying plans allow us to build new features, mobile apps (coming soon), build Fort-Knox-like security, host your chatbox, and scale to whatever bandwidth your site needs.
		</p>
		
		<p>
			<strong>100% Money-Back Guarantee</strong><br>
			You have enough risks to consider &mdash; Lively should not be one of them! We've eliminated <em>all</em> the risks by offering you an Unlimited-Term, Unlimited-Features Trial. The only catch is that you're restricted to <em>2 conversations per day</em>.
		</p>
		
		<p>To top it off, we have a rock solid guarantee: <strong>If Lively doesn't boost your business' bottom line in your 1st month, we'll give you a 100% refund &mdash; no questions asked!</strong></p>
		
		<p style="margin-bottom: 15px; ">
			Here's what some of our valued customers are saying:
		</p>
		
		<p class="testimonial">
			Very powerful free chat plugin for WP... I had some issues about css and the author (Dallas) was very helpful and answered quickly! Thanks again :-)
		</p>
		
		<p class="testimonial">
			A great free solution with some useful premium options. Highly recommended!
		</p>
		
		<p class="testimonial">
			I have used this plugin in several websites and it never disappoints.
		</p>
		
		<p class="testimonial">
			Really simple setup and use! Just awesome! Thank you Dallas!
		</p>
		
		<p class="testimonial" style="margin-bottom: 40px; ">
			Thanks for the plug in, out of the alternatives this has everything needed and is just after a couple of clicks ready to run.
		</p>
		
		{{render 'admin/activate/pricing'}}
		
		<p>
			We'd love to welcome you to the Lively Chat Support family!
		</p>
	</div>
</div>