<div class="pane">
	
	<h2>Agents</h2>
	
	<p>This is a desciprtion of agents. Should you need any help, don't be afraid to ask for it. This is a desciprtion of agents. Should you need any help, don't be afraid to ask for it. </p>

	<table class="table">
		<thead>
			<tr>
				<th style="width: 11%;" class="align_center">Online</th>
				<th style="width: 30%;">Name</th>
				<th style="width: 49%;">Email Address</th>
				<th style="width: 10%;"></th>
			</tr>
		</thead>
		<tbody>
			{{! render "agents"}}
		</tbody>
	</table>

	<div class="upper_space">
		<button {{action click="createAgent"}}>Add Agent</button>
	</div>

</div>