<div class="pane">
	<div class="activate">
		<p>You are signed up to the {{session.chatbox.plan.name}} ({{session.chatbox.plan.conversations}} conversations for ${{session.chatbox.plan.price}}/month) plan through your Paypal account.</p>
		<p>To change your plan or cancel, please email {{mail-to 'dallas@excitecreative.ca'}}.</p>
	</div>
</div>