<div class="contact_index">
	<p>
		&larr; &nbsp; Choose a conversation on the left.
	</p>
	
	<p>
		<br>
		Your visitors are leads and potential customers.
	</p>
	
	<p>
		<br>
		{{#link-to 'admin.videos.video' 'contacts'}}Quick Video: How to connect with your visitors effectively.{{/link-to}}
	</p>
</div>