<div>
	<p>
		Canned messages allow you to leverage your customer service representatives. By setting canned shortcuts, your CSRs can give full, detailed responses using just 1 word.
		{{#link-to 'admin.videos.video' 'canned'}}Quick Video: How to use canned messages effectively.{{/link-to}}
	</p>

	<table class="table canned">
		<thead>
			<tr>
				<th style="width: 19%; " class="align_center">Shortcut</th>
				<th style="width: 71%; ">Message</th>
				<th style="width: 10%; "></th>
			</tr>
		</thead>
		<tbody>
			{{#each session.chatbox.canned}}
				<tr>
					<td class="header_column align_center">
						<span class="canned_hash">#</span>
						{{input value=hash focus-out="saveChatbox" class="has_canned_hash" placeholder="shortcut"}}
					</td>
					<td>{{input value=message focus-out="saveChatbox"}}</td>
					<td class="align_center">
						<a href="#" class="fluid_width delete_row" {{action 'deleteCanned' .}}>
							<i class="ion ion-ios-close"></i>
						</a>
					</td>
				</tr>
			{{/each}}
		</tbody>
	</table>

	<div class="upper_space">
		<button {{action 'createCanned'}}>Add Canned Message</button>
	</div>
</div>