<div>
	<form {{action "saveChatbox" on='submit'}}>

		<div class="field">
			<label>Organization Name</label>
			{{input value=session.chatbox.name}}
		</div>
	
		<div class="field">
			<label>Which pages should <strong>show</strong> your chatbox?</label>
			{{input value=session.chatbox.include}}
		</div>

		<div class="field">
			<label>Which pages should <strong>hide</strong> your chatbox?</label>
			{{input value=session.chatbox.exclude}}
		</div>

		<button type="submit" class="full_width">Save Settings</button>
	</form>
</div>