<div>
	<p>Introducers are the things that go crazy and crazier. Triggers are the things that go crazy and crazier. Triggers are the things that go crazy and crazier.</p>

	<table class="table introducers">
		<thead>
			<tr>
				<th>Required</th>
				<th>Name</th>
				<th>Permalink</th>
				<th>Type</th>
				<th>Validator</th>
				<th>Reorder</th>
				<th>Delete</th>
			</tr>
		</thead>
		<tbody>
			{{! render "introducers"}}
		</tbody>
	</table>

	<div class="upper_space">
		<button {{action click="createIntroducer"}}>Add Introducer</button>
	</div>
</div>