<div>
	<form {{action "saveChatbox" on='submit'}}>
		<div class="field">
			<label>What is your <strong>email address</strong>?</label>
			{{input type="email" value=session.agent.email}}
		</div>
		
		<div class="field">
			<label>What is your new <strong>password</strong> (blank to keep your current password)?</label>
			<input type="password" name="password">
		</div>

		<button type="submit" class="full_width">Save My Profile</button>
	</form>
	
	<br><button {{action "signinout"}} class="gray">Sign Out</button>
</div>