<div class="success">
	<div class="fields">
		<p>
			<strong>Thanks for registering!</strong>
		</p>
		<p>
			You're on the right track to connect with your customers in a new way!
		</p>
	</div>
	
	<p class="show_admin button">
		Start Using My Chatbox &nbsp; &rarr;
	</p>
</div>