<div class="admin">
	<div class="leftbar">
		<a href="#" {{bind-attr class=":toggle_status session.agent.online:online:offline"}} {{action "toggleStatus"}}>
			{{#if session.agent.online}}
				<i class="ion ion-toggle-filled"></i>
				Online
			{{else}}
				<i class="ion ion-toggle"></i>
				Offline
			{{/if}}
		</a>

		{{#link-to "visitors"}}
			<i class="ion ion-person-stalker icon"></i>
			Visitors
		{{/link-to}}

		{{#link-to "admin.agents"}}
			<i class="ion ion-help-buoy icon"></i>
			Agents
		{{/link-to}}

		{{#link-to "admin.settings"}}
			<i class="ion ion-gear-a icon"></i>
			Settings
		{{/link-to}}

		{{#unless session.chatbox.activated}}
			{{#link-to "admin.activate"}}
				<i class="ion ion-ios-bolt icon"></i>
				Activate
			{{/link-to}}
		{{/unless}}
	</div>

	<div class="panes">
		{{outlet}}
	</div>

</div>