<div class="chatbox">
	<div class="topbar">
		<h1>{{ chatbox.name }}</h1>
		
		<a class="signinout icon"><i class="fa fa-lock"></i></a>
		{{#link-to "prompter" class="close icon"}}
			&times;
		{{/link-to}}
	</div>
	
	{{ outlet }}
</div>