<div class="prompter">
	{{#if session.agent}}
		{{#link-to "admin" class="agent_avatar"}}
			<img src="/imgs/agent_cta.png" class="agent_cta pulse animated">
		{{/link-to}}
	{{else}}
		<a href="#" {{action 'showChatbox'}} class="agent_avatar">
			{{#if session.visitor.unread_from_agent}}
				<span class="unread_messages_count pulse animated infinite">{{session.visitor.visitor_unread_count}}</span>
			{{/if}}
			<img src="/imgs/avatar.jpg">
		</a>
		
		{{#if session.visitor.unread_from_agent}}
			{{latest-message message=session.visitor.latest_agent_message unread=session.visitor.visitor_unread_count session=session currentControllerBinding="controller"}}
		{{/if}}
	{{/if}}
</div>