<div class="prompter">
	{{#link-to "chatbox"}}
		<span class="unread_messages_count">3</span>
		<img src="/imgs/avatar.jpg">
	{{/link-to}}
		
	{{#link-to "chatbox" class="bubble"}}
		I was wondering if you had any 3rd apples to display to the crew.
	{{/link-to}}
</div>